{% extends "alka/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1>Delivery Customer Information</h1>

{% if info_list  %}
        <table class="table">
            <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>Quantity</th>
                <th>Bottle Type</th>
                <th>Deposit $$$</th>
            </tr>
            </thead>
            <tbody>
           {% for info in info_list %}
                <tr>
                    <td>{{ info.id }}</td>
                    <td>{{ info.name }}</td>
                    <td>{{ info.phone }}</td>
                    <td>{{ info.email }}</td>
                    <!-- https://stackoverflow.com/questions/43187327/django-get-data-from-foreign-key -->
                    {% for del in info.DelCustID.all %}
                    <td>{{ del.street }}</td>
                    <td>{{ del.city }}</td>
                    <td>{{ del.zip_code }}</td>
                    {% endfor %}
                    {% for del in info.DepCustID.all %}
                    <td>{{ del.quantity }}</td>
                    <td>{{ del.bottle_type }}</td>
                    <td>{{ del.deposit }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been logged. Use the <a href="{% url 'input' %}">Input Form</a>.</p>
    {% endif %}

{% endblock %}

