{% extends "alka/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1>Delivery Customer Information</h1>

{% if info_list  %}
        <table class="table">
            <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Customer FK</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip</th>
            </tr>
            </thead>
            <tbody>
           {% for info in info_list %}
                <tr>
                    <td>{{ info.customer_id }}</td>
                    <td>{{ info.customer.name }}</td>
                    <td>{{ info.customer.phone }}</td>
                    <td>{{ info.customer.email }}</td>
                    <td>{{ info.customer }}</td>
                    <td>{{ info.street }}</td>
                    <td>{{ info.city }}</td>
                    <td>{{ info.zip_code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been logged. Use the <a href="{% url 'input' %}">Input Form</a>.</p>
    {% endif %}

{% endblock %}

