{% extends "alka/layout.html" %}
{% block title %} Customer Input {% endblock %}
{% block content %}

<h1>Delivery Customer Input</h1>
<form method="POST">
{% csrf_token %}
<div class="form-group row">
    {% for field in in_form.visible_fields %}
    <div class="col-xs-3">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
</div>

<div class="form-group row">
    {% for field in add_form.visible_fields %}
    <div class="col-xs-3">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
</div>

<button type="submit" class="save btn btn-default">Save</button>
</form>

{% endblock %}

        